.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1rem;
}
.container label{
    font-size: 1rem;
    font-weight: bold;
}

.container input{
    border: 1px solid #ccc;
    font-family: "Acme", sans-serif;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 1rem;
    height: 2rem;
    color: rgb(19, 19, 18);
}
