/* Reset CSS - Remove margens e paddings padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Cabeçalho */
header {
  background-color: #0077b6;
  color: white;
  padding: 1.25rem; /* 20px */
  margin-bottom: 1.25rem; /* 20px */
}

/* Centralizar Titulo */
header h1{
  text-align: center;
}


/* Área principal */
main {
  width: 50rem; /* 800px */
  margin: 0 auto; /* Centraliza a área principal */

}

/* Seção de produtos */
.produtos {
  text-align: center; /* Garante que os produtos fiquem centralizados */
}

/* Modelo de caixa aplicado aos cards */
.produto-card {
  background-color: white;
  border: 0.1875rem solid #0077b6; /* 3px */
  border-radius: 0.625rem; /* 10px */
  padding: 0.9375rem; /* 15px */
  width: 15.625rem; /* 250px */
  text-align: center;
  margin: 1.25rem 0.625rem; /* 20px 10px */
  box-shadow: 0.3125rem 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2); /* 5px 5px 15px */
  display: inline-block; /* Garante que os cards fiquem lado a lado */
  vertical-align: top; /* Alinha os elementos pelo topo */
}

/* Imagens dos produtos */
.produto-card img {
  width: 80%;
  height: 9.375rem; /* 150px */
  border-radius: 0.3125rem; /* 5px */
  border: 0.125rem solid #ddd; /* 2px */
  margin-bottom: 0.625rem; /* 10px */
}

/* Estilo dos títulos dos produtos */
.produto-card h3 {
  color: #0077b6;
  margin-bottom: 0.3125rem; /* 5px */
  font-size: 1.25rem; /* 20px */
}

.preco{
  color: blue;
  text-align: left;
}

/* Rodapé */
footer {
  background-color: #0077b6;
  color: white;
  padding: 0.625rem; /* 10px */
  margin-top: 1.25rem; /* 20px */
  text-align: center;
}
