.band {
    display: flex;
    align-items: center;
    margin-bottom: var(--margin-padrao);
}

.band img {
    width: var(--largura-imagens);
    height: var(--altura-imagens);
    object-fit: cover;
    margin-right: var(--margin-padrao);
}
.band p{
    margin-top: 1rem;
}

.band button{
    font-size: 1rem;
}

.bandinfo {
    flex: 1;
    text-align: justify;
}